.main{
    margin-top: 80.5px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.info{
    display: grid;
    grid-template-columns:  repeat(1, 1fr);
    text-align: center;
    /* align-items: end; */
    justify-content: space-between;
}
.info h1{
    padding: 1rem 1rem 1rem 0;
}

.text{
    padding: 2rem ;
}
.pricing{
    padding: 2rem ;
}

.pricing h2{
    padding: 1rem 0 0 0;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact h3{
    margin: 2rem 0 0 0;

}

.contactLink {
   display: flex;
   align-items: center;
   gap: 0.5rem;
   margin: .2rem;
  }
  .contactLink:hover {
  color: gray !important;

}
  .orderNowText{

    margin-bottom: 0.5rem;
  }

@media (min-width:1600px){

    .info{
    width: 40vw;

    }
}
@media (min-width:768px) {
        .info{
    grid-template-columns:  repeat(2, 1fr);
    text-align: start;
    }
    .contact{
        display:initial
    }
    .text{
        
    max-width: 40vw;

    }
}


.heading{
    text-align: center;
display: flex;flex-direction: column;
align-items: center;justify-content: center;
}
.heading h1{
    font-size: 1.875rem; 
    font-weight: 800;   
}

.heading p{
    max-width: 50vw;
}

.ul li{
    list-style: none;
}

.embedWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.embedElement{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.embed{
max-width: 95vw;
    height: 700px;
    margin: 1rem 0 ;
}

.embed1{
    width: 1550px;
}
.embed2{
    width: 890px;
}
.embed3{
    width: 910px;
    
}
.button {
  padding: 0.5rem 1rem;
  min-width: 100px; /* keeps minimum size */
  border: 1px solid black;
  border-radius: 9999px;
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  font-size: inherit;
  text-align: center;
  white-space: nowrap; /* prevents text from wrapping */
}


.linksWrapper{
    display: flex;align-items: center;justify-content: center;
}

.linksWrapper a {
  margin: 1rem 0.5rem;
}

