.header {
  width: 100%;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  z-index: 500;

}


.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.desktop_nav {
  display: none;
}

@media (min-width: 768px) {
  .desktop_nav {
    display: flex;
    gap: 1.5rem;
    font-size: 0.875rem;
    text-transform: uppercase;
  }

  .mobile_menu_icon {
    display: none !important;
    background-color: aqua;
    color: #000;
  }
}

.mobile_menu_icon {
  display: block;
  cursor: pointer;
  text-decoration: none;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  font-size: x-large;
  outline: inherit;

}




.mobile_nav {
  z-index: 500;

  position: absolute;
  top: 80.5px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  gap: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  text-align: center;
  font-size: x-large;
  font-weight: 500;
}
.mobile_nav_margin_top {
  position: fixed;
  margin-top: 80.5px; 
  top: 0;
}


.mobile_nav.open {
  max-height: 300px; /* zależnie od treści */
  opacity: 1;
  padding: 1rem;
}

.mobile_nav a {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
}

.not_navbar {
  position: fixed; /* zamiast absolute */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 20 !important;
}
